.App {
  text-align: center;
}

@font-face {
  font-family: "gmarket_1_font";
  src: url('./font/GmarketSansTTFBold.ttf');
}
@font-face {
  font-family: "gmarket_2_font";
  src: url('./font/GmarketSansTTFLight.ttf');
}
@font-face {
  font-family: "pretendard_1_font";
  src: url('./font/Pretendard-Regular.ttf');
}
@font-face {
  font-family: "pretendard_2_font";
  src: url('./font/Pretendard-SemiBold.ttf');
}
@font-face {
  font-family: "notosans_1_font";
  src: url('./font/NotoSansKR-Regular.ttf');
}
@font-face {
  font-family: "notosans_2_font";
  src: url('./font/NotoSansKR-ExtraBold.ttf');
}